.movie-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.movie-poster {
    height: 40px;
    width: 30px;
    padding-left: 3%;
}

.movie-title {
    font-weight: bold;
    padding-left: 5%;
}

.movie-not-found-title {
    font-size: 3em;
    font-weight: bold;
    top: 8rem;
    position: relative;
}